body{
  background-color: #98A6D4;
  margin: 10% 20%;
}

.header, .contact, .skills, .experience {
  border-bottom: 2px solid #D3FCD5
}

h1 {
  Color: #FFFFFF;
  font-size: 24px;
  font-family: Raleway, Sans-serif;
}

h2 {
  Color: #C2F970;
  font-size: 16px;
  font-family: Raleway, Sans-serif;
}
h3{  
  Color: #FFFFFF;
  font-size: 12px;
  font-family: Raleway, Sans-serif;
}


h4,p,ul{
  Color: #FFFFFF;
  font-size: 10px;
  font-family: Lato, Sans-serif;
}

h5{
  Color: #FFFFFF;
  font-size: 12px;
  font-family: Sans-serif;
}
h6{
  font-size: 9px;
  font-family: Sans-serif;
  color: #E4E4E4;
}


img{
  width: 25px
}

hr{
  height: 3px;
}
